.section {
	width: 100%;
}

.column.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar-menu {
	background-color: transparent;
}

a, a.navbar-item {
	color: #555;
}

a:hover, a.navbar-item:hover {
	color: #980000;
}

.box {
	border-radius: 2px;
}